<!-- <mat-form-field class="expample-full-width">
  <input
  type="text"
  placeholder="Pick One"
  aria-label="Number"
  matInput
  [formControl]="myControl"
  [matAutocomplete]="auto">
  <mat-autocomplete autoActiveFirstOption="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field> -->

<div fxLayout="column">
    <div>
        <h1>Buscador de heroes</h1>
        <mat-divider></mat-divider>
    </div>
    <div>
        <h3>Buscador</h3>
        <mat-form-field >
            <input
            type="text"
            placeholder="Pick One"
            aria-label="Number"
            matInput
            [(ngModel)]="termino"
            (input)="buscando()" 
            
            [matAutocomplete]="auto">
            <mat-autocomplete 
            autoActiveFirstOption 
            #auto="matAutocomplete"
            (optionSelected)="opcionSeleccionada($event)">
              <mat-option *ngFor="let heroe of heroes " [value]="heroe">
                {{heroe.superhero}}
              </mat-option>
              <mat-option value="" *ngIf="heroes.length ===0" disabled="true">
                 No se encontro nada con el termino {{termino}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
    </div>



    <div>
        <pre>
            {{heroeSeleccionado | json}}
        </pre>

        <app-heroe-tarjeta *ngIf="heroeSeleccionado != null" [heroe]="heroeSeleccionado"></app-heroe-tarjeta>
    </div>
</div>